<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phantom.auth.mapper.AuthorityMapper">

    <!-- 开启二级缓存 -->
<!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.phantom.auth.entity.Authority">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="url" property="url"/>
        <result column="description" property="description"/>
        <result column="type" property="type"/>
        <result column="method" property="method"/>
        <result column="status" property="status"/>
        <result column="sort" property="sort"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, url, description, type, method, status, sort, parent_id, create_time, update_time, remark
    </sql>

    <select id="selectAuthorityByRoleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from authority
        where id in (
        select authority_id from role_authority where role_id = #{roleId}
        )
    </select>


</mapper>
